* {
  text-align: center;
  background-color: #1d241d;
  color: white;
  font-family: Fira Sans;
}

.User {
  color: white;
}

.Nav {
  padding: 0%;
  font-size: 2em;
}

.App-header {
  font-size: 3em;
}